body {
    height: 100vh;
    background-color: #585858;
    overflow: hidden;
}

#title {
    height: 10%;
    margin-top: 1%;
    text-align: center;
    font-size: 300%;
    color: #e4e4e4;
    font-family: "Monaco";
    font-weight: bold;
}

#chessWord {
    color: #FFDD00;
}

#checkersWord {
    color: #6D9EEB;
}

#game {
    margin: auto;
}

#board {
    width: 45%;
    margin: auto;
}

.tile {
    position: relative;
    float: left;
	width: 12.5%;
	height: 12.5%;
	box-sizing: border-box;
}

.evenRow div:nth-child(even) {
    background-color: #e4e4e4;
}

.evenRow div:nth-child(odd) {
    background-color: #232323;
}

.oddRow div:nth-child(odd) {
    background-color: #e4e4e4;
}

.oddRow div:nth-child(even) {
    background-color: #232323;
}

.piece, .placeholder {
    position: relative;
    width: 100%; 
	height: 100%;
    z-index: 0;
}

#panel {
    width: 12%;
    margin-left: 75%;
    padding: 1%;
    background-color: #e4e4e4;
    font-size: 100%;
    font-family: "Monaco";
}

#numTurns {
    padding-top: 5%;
    padding-bottom: 5%;
}

#reset {
    display: flex;
    justify-content: center;
    color: #f3f3f3;
    background-color: #d81515;
}

#reset:hover {
    background-color: #951010;
}